.container {
    width: 75%;
}


h2 {
    text-align: center;
    margin-bottom: 50px;
}

legend {
    font-size: 20px;
    font-style: oblique;
    color: cornflowerblue;
    display: block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

fieldset {
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.left {
    float: left;
}

.ml-20 {
    margin-left: 20px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-50 {
    margin-left: 50px;
}
.address {
    clear: left;
    margin-top: 20px;
}

hr {
    clear: left;
}

.avatar {
    margin: 5px;
    border : 1px solid gray;
    border-radius: 15px;
}

.goback {
    margin-right: 21%;
}

