.container {
  width :100%;
}

body {
  background-color:rgb(84, 183, 219);
}

.left {
  float: left;
}

.notleft {
  clear: left;
}

.logo {
  margin-left: 15%;
}

.classe369 {
  margin-left: 15%;
}
.classe369 h2 {
  margin-left: 40%;
}

#school_name {
  font-size: 35px;
  color : rgb(7, 3, 146);
  margin-top: 3%;
  font-weight: bolder;
  font-family: 'Time new roman';
}

#appName {
  font-family:'Arial';
  font-weight: bold;
  color :white
}

.login {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(162, 199, 243);
  border: 1px solid;
  border-style: none;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.login h3 {
  color: whitesmoke;
}
.login label {
  color : white;
}

input {
  border-radius: 5px;
  height: 40px;
  width: 250px;
  border-style: none;
  padding-left: 15px;
}

button {
  margin-left: 70%;
  height: 35px;
  width: 100px;
  border-radius: 15px;
  border-style: none;
}

.loginForm h3 {
  text-align: center;
}

footer {
  border-top: 1px solid white;
  color: whitesmoke;
  font-family: 'Arial';
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 12px;
}
