body {
    font-family: "Kaushan Script", cursive;
    /* background-image: url("/src/Login/web_login.png"); */
    /* background-color: bisque; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loginBtn {
    cursor: pointer;
    /* margin-left: 650px; */
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 230px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(57, 179, 250);
  }
  
  .loginBtn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 142, 224);
    transition: all 0.3s;
    border-radius: 50px;
    z-index: -1;
  }
  .loginBtn:hover::after {
    width: 100%;
  }
  
  #welcome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8rem;
    /* margin-left: 480px; */
    margin-top: 380px;
    font-weight: 800;
  }
  #welcome_1 {
    color: rgb(13, 155, 238);
    transition: 0.2s;
  }
  #welcome_1:hover {
    text-shadow: 2px 2px 1px rgb(13, 155, 238);
    cursor: pointer;
  }
  ._modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  ._loginForm {
    position: fixed;
    background-color: white;
    border-radius: 20px;
    width: 370px;
    margin-left: 580px;
    margin-top: 100px;
    -webkit-animation: anmatezoom 0.5s;
    animation: animatezoom 0.5s;
  }
  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .span-or {
    display: block;
    width: 30px;
    text-align: center;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  ._button {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb(57, 179, 250);
    color: rgb(240, 219, 219);
    border: none;
  }
  .form {
    text-align: center;
  }
  #close {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
  }
  #close:hover {
    color: red;
    font-weight: bolder;
    cursor: pointer;
  }
  ._account,
  ._password {
    display: block;
    width: 320px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: 0.3s;
    box-sizing: border-box;
  }
  ._formElm {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* text-align: center; */
  }
  
  ._note {
    color: rgb(57, 179, 250);
    transition: 0.3s;
  }
  ._note:hover {
    color: rgb(57, 179, 250);
    text-shadow: 1px 1px 1px rgb(0, 142, 224);
    cursor: pointer;
  }
  #accInput:hover,
  #passInput:hover {
    border: 2px solid rgb(0, 142, 224);
    cursor: pointer;
  }
  ._button:hover {
    background-color: rgb(0, 142, 224);
    color: white;
    cursor: pointer;
  }
  label {
    line-height: 120%;
  }
